:root {
    --green: #A8E683;
    --yellow: #FDF21C;
    --bright-green: #ccffcc;
    --orange: #FFD090;
    --red: #E86245;
    --white: #F9FCF3;
    --blue: #0f3c4c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {

}
/*Sign In/Sign Up page*/



.out-of-stock-text {
    color: rgb(150,150,150)
}

/*header*/
.header-nav {
    width: 1000px;
    margin: auto;
}
.hero-image {
    background-image: url('../images/header-juices.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;

    margin: auto;
    text-align: center;
}

/*nav bar*/
.container {
    display: flex;
    width: 100%;
gap: 1rem;
    justify-content: end;
    padding: 5px 20px;
}

.main-nav-item a {
font-size: 2rem;
    text-align: center;
    display: inline-block;
    padding: 25px;

}

.main-nav-item a:hover {
    background-color: #eaeaea;
}

.main-nav-item a {
    color: black;
    text-decoration: none;
}

/*home page menu*/
.menu-page {
    position: relative;
    width: 100%;
    background-image: url('../images/menubackground.jpg'), linear-gradient(rgba(255,255,255, 1), #D8F1D3);
    background-size: cover;

}

.food-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid rgba(0,0,0,0.5);
    padding: 50px;
    margin: auto;
    width: 65%;
    row-gap: 50px;
    border-radius: 50px;

    opacity: 1;
    background-color: var(--white);

}



/*order form*/
.order-container {
    display: flex;
    align-items: start;
justify-content: space-around;
    flex-wrap: wrap;
}

.select-a-juice-container {
    width: 600px;
}

.build-your-own-container {
    width: 500px;
}

.select-a-juice-container, .build-your-own-container {
    border-radius: 20px;
    background-color: var(--light-green);
    padding: 20px 0;
}

.select-a-juice-container h2, .build-your-own-container h2 {
    text-align: center;
}

.select-a-juice{
display: grid;
grid-template-columns: 40% 40%;
    justify-content: space-around;
}
.select-a-juice-item {

    text-align: center;
    background-color: var(--white);
margin-top: 10px;
    border-radius: 20px;
    padding: 5px;

}

.build-your-own {

    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: space-around;
}
.build-your-own-item {
padding: 5px;
    background-color: var(--light-green);
    margin: 5px;
}



/*Sign in page*/
/*entire signup/login section*/
.auth-section{

}

/*login section*/
.login-section {
    border: 1px solid black;
    margin: 50px auto 0;
    padding: 50px;
    border-radius: 10px;
}

.login-title {
    text-align: center;
}

.btnSubmit {
    margin-top: 25px;
    width: 100%;
    background: var(--green);
}

/*Inventory page*/
.search-add-food-container {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 50px auto;
    align-items: center;
}
table {
    margin: auto;
}
th {
    border: 1px solid black;
    padding: 10px;
}

td {
    border: 1px solid black;
    padding: 10px;
}

/*Home page menu tabs*/
.nav-item .nav-link {
color: black;

}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: black;
    border: none;
    border-bottom: 5px solid var(--green);
    font-weight: bold;
}

.tab-content>.tab-pane {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.menu-item-header {
    font-size: 2.25rem;
    font-family: Impact, sans-serif;
    text-transform: capitalize;
}
.menu-item-ingredients {
    text-transform: capitalize;
}


.menu-header {
    text-align: center;
    font-size: 4rem;
    margin: 20px auto;
}

.buy-juice-button {
    font-size: 1.5rem;
    padding: 5px 20px;

    border-radius: 50px;
    background-color: green;

    border: 3px solid black;
}

.buy-juice-button a {
    text-decoration: none;
    color: var(--bright-green);
}

.tab-content {
    border: 1px solid black;
    border-radius: 20px;
    background-image: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8)), url('../images/juicy-roots-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 65%;
    margin: 70px auto;
    box-shadow: 1px 3px 20px #000;
}


/* Display only the active items */
.menu-item {
    background: rgba(255,255,255,0.9);
    font-size: 1.5rem;
    width: 450px;
    padding: 15px 4%;
    height: 300px;
    display: none;
}

.active .menu-item {
    display: inline-block;
}

.checkbox {
    width: 20px;
    height: 20px;
}

td {
    font-size: 2em !important;
}

.inventory-sort-column-name {
    text-decoration: none;
    color: black;
    font-size: 2em;
    display: flex;
    align-items: center;
}

.sort-arrow {
    font-size: 1em;
    padding: 5px;
}

.food-name a {
    text-decoration: none;
    color: black;
}

.add-menu-item-name {
    text-align: center;
}



.cart-container-with-header, .build-your-own-container {
    border: 5px solid black;
    border-radius: 50px;
    width: 50%;
    margin: 50px auto;
    padding: 20px;
}

.cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;

}

.cart-list {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cart-item {
border-bottom: 5px solid #bbb;
    width: 300px;
    padding: 10px 0;
}

.purchase-btn {
    padding: 20px;
    border: 5px;
    font-size: 2rem;
}

.purchase-total {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.add-menu-item-fruit-section, .add-menu-item-vegetables-section, .add-menu-item-other-section {
    width: 400px;
    margin: 20px;
    text-align: center;
    background: var(--green);
    padding: 20px;
    border-radius: 20px;
}
.menu-item-containers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.add-menu-item-individual-ingredient {
    font-size: 26px;
    color: var(--black);


}
.add-menu-item-container-header {
    color: var(--blue)
}
.add-menu-item-selection {
    display: flex;
    flex-wrap: wrap;
}

.add-menu-item-radio-icon i {
    cursor: pointer;
    color: #000;
    border: 3px solid black;
    font-size: 96px;
    padding: 30px 50px 10px;
    border-radius: 20px;
}
.add-menu-item-radio-icon i:hover {

    color: var(--white);
    background: var(--blue);
}

.add-menu-item-radio-icon-text {
    font-size: 26px;
    margin-top: 20px;
    text-align: center;
    display: block;

}

/* Change the icon when the radio is checked */
.add-menu-item-radio-icon input:checked + i {
    display: block;
    width: 100%;
    background: var(--blue);
    border-color: var(--bright-green);
    color: var(--bright-green); /* Change as needed */
    /*content: "\f058"; !* Font Awesome checked icon *!*/
}

.add-menu-item-radio-icon-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.back-to-food-link{
    text-decoration: none;
    color: black;
    border-radius: 20px;
    border: 3px solid var(--green);
    padding: 10px;
    width: 200px;
    text-align: center;
    display: inline-block;
}
.add-menu-item-button{
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    border-radius: 20px;
    border: 3px solid var(--green);
    background: var(--blue);
    padding: 10px;
    width: 250px;
    text-align: center;
}
.add-food-to-storage-button{
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    border-radius: 20px;
    border: 3px solid var(--green);
    background: var(--blue);
    padding: 10px;
    width: 250px;
    text-align: center;
}
.add-menu-item-buttons-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}
.price-input-label {
    display: inline-block;
}

.add-item-form {
    display: flex;
    justify-content: center;
}

.inventory-buttons-container {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.edit-delete-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.edit-delete-item-button{
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    border-radius: 20px;
    border: 3px solid var(--green);
    background: var(--blue);
    padding: 10px;
    width: 100px;
    text-align: center;
    margin-bottom: 20px;
}